<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphing Calculator</title>
    <style>
        canvas {
            border: 1px solid black;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>Graphing Calculator</h1>
    <input id="functionInput" type="text" placeholder="Enter a function" />
    <button id="plotButton">Plot</button>
    <button id="clearButton">Clear Graph</button>
    <br>
    Advanced: <input type="checkbox" id="advancedCheckbox" checked>
    <div id="advanced">
        Detail: <input id="detailSlider" type="range" min="100" max="1000" value="100" step="100">
    </div>
    <canvas id="graphCanvas" width="800" height="400"></canvas>
    <div id="functions">

    </div>
    <script src="../static/graphing_calculator.js"></script>
</body>
</html>
